/*
Title hierarchy
h1 - main title
h2 - figure title
h3 - article sub-titles
h4 - sugestion titles
h5 -  footer titles
h6 - suggested article titles
*/

body {
    font-size: 20px;
    font-family: nyt-cheltenham, georgia,'times new roman',times,serif;}

/* #region NavBar */

nav {
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    display: block;
    border: 1px solid #cccccc;
    position: fixed;
    background-position-x: 0px;
    width: 100%;
    background: white;
    z-index: 100;
    text-align: center;
}

.nav-left {
    float: left;
    font-size: 30px;
}

.nav-centre {
    position: relative;
    display: inline-block;
    margin-top: 9px;
}

.nav-right {
   float: right;
}

.options-icon {
    padding: 0px 10px;
    left: 10px;
    font-size: 20px;
}

.search-icon {
    font-size: 20px;
    padding: 0px 10px
}

.nav-text {
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    margin-top: 1px;
}

.subscribe-btn, .btn-more {
    background-color: steelblue;
    font-size: 10px;
    padding: 12px;
    color: antiquewhite;
    border-radius: 5px;
    margin-top: 3px;
    margin-right: 10px;
}

/* #endregion */

/* #region Main */

main{
    position: relative;
    top: 100px;
}

.main-content{
    width: 600px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

header{    
    max-width: 1000px;
    min-width: 600px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;    
}

h1{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Courier, monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;    
}

figure figcaption{
    width: 600px;
    font-size: 14px;
    color: #444444;
}

figure span{
    font-size: 12px;
    color: #777777;
}

.main-content a:visited, a:active, a:link{
    color: #4488ff;
}

.main-content a:hover{
    text-decoration: none;
    color: #4488ff;
}


.video-footer p{
    text-align: left;
    width: 600px;
    font-size: 14px;
    color: #444444;
}

.video-footer span{
    font-size: 12px;
    color: #777777;
}

.satelite {
    margin: 0;
}

.summary {
    font-size: 12px;
}

.btn-container {
    display: inline;
    
}

.btn-more {
   width: 300px;
   font-size: 14px;
   color: white;
}

.btn-media-top {
    position: relative;
    padding: 12px;
}

.btn-social-bottom {
    float: right;
    position: relative;
    padding: 12px;
}
.btn-facebook:active,
.btn-twitter:active,
.btn-share:active,
.btn-email:active,
.btn-facebook, 
.btn-twitter, 
.btn-email, 
.btn-share {
    border-radius: 33px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    background-color: #cccccc;
    width: 30px;
    height: 30px;
}

/* #endregion */

/* #region Container */

.container-box{
    width: 945px;
    min-width: 945px;
    height: 576px;
    min-height: 576px;
    margin: 0 auto;    
    background-image: url("../assets/inflation-945.png");
    background-size: 945px 576px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-box-header{
    width: 945px;
    min-width: 945px;    
    margin: 60px auto 20px auto;
}

.container-box-header h6{
    margin: 0;
    padding: 0;
    font-size: 16px;
}    

.container-box-header p{
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #777777;
}

.container-box-line{
    width: 50px;
    height: 1px;
    margin: 0;
    padding: 0;
    stroke: black;
    stroke-width: 1px;
}

.container-box-footer{
    width: 945px;
    min-width: 945px;
    margin: 20px auto 60px auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.box-top{
    position: relative;  
    top: 23%;
    width: 100%;
    height: 25%;
    
}

.box-bottom {
    position: relative;
    top: 46%;
    width: 100%;
    height: 25%;
}

.box-text-1, .box-text-5 {
    position: relative;
    float: left;    
    width: 23%;
    height: 100%;
}

.box-text-2, 
.box-text-3, 
.box-text-4, 
.box-text-6, 
.box-text-7, 
.box-text-8 {
    position: relative;
    float: left;
    margin-left: 25px;
    width: 23%;
    height: 100%;   
}

/* #endregion */

/* #region footers*/

.suggestions{
    max-width: 1000px;
    min-width: 600px;
    height: 850px;
    margin: 100px auto;
}

.extra-articles{
    box-sizing: border-box;
    float: left;
    width: 70%;
    height: 100%;
}

.most-popular{
    box-sizing: border-box;
    float: right;    
    width: 30%;
    height: 100%;    
}

.space-cosmos{
    box-sizing: border-box;
    width: 100%;
    height: 66%;    
}

.editor-picks{
    box-sizing: border-box; 
    width: 100%;
    height: 34%;
}

.suggestions-title{
    box-sizing: border-box;
    display: inline-block; 
    width: 100%;
    height: 50px;  
      
}

.thumbnail{
    box-sizing: border-box;
    display: inline-block;   
    width: 32%;
    height: 250px;    
}

.thumbnail h6{
  margin: 0;
  padding: 0;
}

.suggested-credits{
    margin: 0;
    padding: 0 15px;
    font-size: 10px;
    color: #777777;
    text-align: right;    
}

.suggested-date{

    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.popular-titles{
    margin: 20px;
    border-top: 1px solid #777777;
    font-size: 16px;

}

.bottom {
    box-sizing: border-box;
    width: 100%;
}

.news-bar {
    margin-top: 0;
    display: inline-block;
    text-align: justify;
    margin-right: 70px;
}

.news-bar a {
    display: block;
    text-decoration: none;
    color: #777777;
    font-size: 17px;
}

.top-elements-right {
    float: right;
    position: relative;
}

/* #endregion */

/* #region footer 

 #endregion footer*/